.gradle/
build/
run/
.tmp.driveupload/
.vscode/
.settings/
.project
.classpath
bin/
*.log
*.rar
*.zip
*.lnk
*.tmp
*.bat
temp.txt
build_errors.txt
bombo_test*.json
repo_tree.json
skyhanni_tree.json
data_contents.json
mojang.json
snailify.json
